body {
  font-family: Panton, sans-serif;
  font-size: 16px;
  color: $dark;
  background-color: $lightgrey;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  line-height: normal;
}
h1,
h2 {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h3,
h4,
h5 {
  font-weight: bold;
}

p {
  font-weight: 300;
}

a {
  color: $main;
  outline: none;
}

input {
  border: 1px solid $grey;
  border-radius: 3px;
  padding: 8px 9px;
  font-family: Panton;
  transition: all 0.3s ease-out;
  color: $dark;
  outline: none;

  &:hover,
  &:focus {
    border-color: $main;
    background-color: $active;
  }
}

.button {
  background-color: $main;
  color: $white;
  font-weight: 300;
  padding: 8px 9px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 7px 20px 0px rgba($shadow, 0.8);
  outline: none;
  cursor: pointer;
}

.shadow {
  box-shadow: 0px 7px 20px 0px rgba($shadow, 0.8);
}

.icon--shadow {
  filter: drop-shadow(0px 3px 6px rgba($shadow, 0.8));
}

.underline {
  text-decoration: underline $main;
}
