@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1010px) {
    @content;
  }
}
@mixin atSlider {
  @media (min-width: 1170px) {
    @content;
  }
}
@mixin undSlider {
  @media (max-width: 1170px) {
    @content;
  }
}

@mixin atSliderEnds {
  @media (min-width: 1320px) {
    @content;
  }
}
@mixin easeOut {
  transition: all 0.2s ease-out;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
