$dark: #1d1d1d;
$main: #08aaa2;
$grey: #bebebe;
$lightgrey: #f8f8f8;
$green: #20ac0d;
$lightgreen: #69e88d;
$white: #ffffff;
$lightwhite: #fafafa;
$active: #f0f4ff;
$shadow: #6a6a6a;
$brown: #e7bb84;
